.startButton {
    -fx-background-color: #000000;
    -fx-text-fill: #FFFFFF;
    -fx-border-radius: 8px;
    -fx-padding: 14px 24px 16px;
    -fx-font-size: 18px;
    -fx-font-weight: 700;
    -fx-line-height: 1;
    -fx-transition: transform 200ms, background 200ms;
}
.startButton:hover{
    -fx-translate-y: -2px;
    -fx-background-color: #171717;
}
